In [1]:
import os

def merge_txt_files(input_folder, output_file):
    with open(output_file, 'w') as output:
        # read up
        txt_files = [file for file in os.listdir(input_folder) if file.endswith('.txt')]
        
        # write in
        for txt_file in txt_files:
            file_path = os.path.join(input_folder, txt_file)
            with open(file_path, 'r') as input_file:
                output.write(input_file.read())
                output.write('\n')  # create new line when reading next txt file.

# input and output files
input_folder = '/kaggle/input/cma-best-track-data/CMABSTdata'
output_file = '/kaggle/working/merged_txt_file.txt'

# Merge the txt files
merge_txt_files(input_folder, output_file)

Merge the text files, since the original file was stored by years.

According to the file explaination, formatting the txt file.

In [2]:
def reformat_data(input_file, output_file):
    with open(input_file, 'r') as infile, open(output_file, 'w') as outfile:
        current_header = None

        for line in infile:
            if line.startswith('66666'):
                current_header = line.strip()
            else:
                formatted_line = f"{current_header} {line.strip()}\n"
                outfile.write(formatted_line)


input_file = '/kaggle/working/merged_txt_file.txt'
output_file = '/kaggle/working/cleaned.txt'


reformat_data(input_file, output_file)

Transform the txt file into CSV.

In [3]:
import pandas as pd

def txt_to_csv(input_file, output_csv):
    # read
    with open(input_file, 'r') as infile:
        lines = infile.readlines()

    # df
    data = []
    for line in lines:
        line = line.strip().split()
        data.append(line)

    columns = [
        'Identifier', 'International Number ID', 'Lines of Data', 'Tropical Cyclone Number',
        'Chinese Tropical Cyclone Data', 'Tropical Cyclone End Record', 'Number of Hours between Paths per Line',
        'Name', 'Date of Record', 'Time', 'Grade', 'Latitude', 'Longitude',
        'Minimum Central Pressure', 'Maximum Wind Speed', 'Average Wind Speed'
    ]

    df = pd.DataFrame(data, columns=columns)
    df = df.drop(['Identifier', 'Lines of Data'], axis=1)
    df = df.dropna(subset=columns[7:14])
    # csv
    df.to_csv(output_csv, index=False)


input_txt = '/kaggle/working/cleaned.txt'
output_csv = '/kaggle/working/CMA_Best_Track_Data.csv'

txt_to_csv(input_txt, output_csv)

In [4]:
df = pd.read_csv(output_csv)
df.sample(5)

,International Number ID,Tropical Cyclone Number,Chinese Tropical Cyclone Data,Tropical Cyclone End Record,Number of Hours between Paths per Line,Name,Date of Record,Time,Grade,Latitude,Longitude,Minimum Central Pressure,Maximum Wind Speed,Average Wind Speed
41059,2121,25,2121,0,6,Nyatoh,20220410,2021120206,5,173,1358,960,42,NaN
4442,0,15,0612,1,6,Ioke,20140414,2006082206,5,144,1923,960,50,NaN
5827,0,33,9025,0,6,Mike,20110729,1990111806,1,211,1080,1005,12,NaN
39348,0,15,0000,0,6,(nameless),20110729,1960080812,1,270,1382,1004,15,NaN
31691,0,7,0000,3,6,(nameless),20110729,1979062200,1,159,1102,1000,15,NaN

In [5]:
df = df.drop('Date of Record', axis = 1)
df['Time'] = pd.to_datetime(df['Time'], format = '%Y%m%d%H')
df['Latitude'] = df['Latitude'] * 0.1
df['Longitude'] = df['Longitude'] * 0.1

In [6]:
df.sample(5)

,International Number ID,Tropical Cyclone Number,Chinese Tropical Cyclone Data,Tropical Cyclone End Record,Number of Hours between Paths per Line,Name,Time,Grade,Latitude,Longitude,Minimum Central Pressure,Maximum Wind Speed,Average Wind Speed
15784,0,10,9707,0,6,ROSIE,1997-07-21 06:00:00,3,15.9,134.1,980,30,NaN
14207,0,9,6904,0,6,Winnie,1969-08-01 06:00:00,0,20.4,123.3,999,10,NaN
36734,0,33,6220,0,6,Jean,1962-11-19 18:00:00,0,10.3,109.8,1010,0,NaN
69504,0,18,0014,3,6,Saomai,2000-09-04 00:00:00,3,16.0,151.7,980,30,NaN
8544,0,23,0000,0,6,(nameless),1950-08-15 06:00:00,1,26.4,130.3,998,15,NaN

In [7]:
df.to_csv(output_csv, index=False)